body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 10%;
    background-color: #81bede;
}

.water-glass {
    width: 100px;
    height: 200px;
    position: relative;
    border: 3px solid #000;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 50px;
}
.login {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: right;
    margin-top:0%;
    background-color: #2b0c68;
    border-radius: 10px;
    background-color: antiquewhite;
    font-weight: bold;
}

.water-level {
    background-color: blue;
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    transition: height 0.5s; 
}
