body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10%;
/* margin-left:20%;  */
    background-color: #81bede;
    
}

.title
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 10%;
    font-size: larger;
}

.home
{
    text-align:center;
    margin: 0 auto;
    margin-top: 3%;
     margin-left: 45%; 
    border:none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: antiquewhite;
    font-weight: bold;
}

.last
{
    text-align:center;
    /* margin-left: 2%;  */

}
